apiVersion: v1
kind: Service
metadata:
  name: agent-service
  labels:
    app: agent
    {{- include "chaingraph.labels" . | nindent 4 }}
spec:
  ports:
    - name: healthcheck
      port: {{ .Values.agent.port }}
  type: ClusterIP
  selector:
    app: agent
