apiVersion: apps/v1
kind: Deployment
metadata:
  name: hasura
  labels:
    app: hasura
    {{- include "chaingraph.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hasura
      {{- include "chaingraph.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: hasura
        {{- include "chaingraph.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: {{ .Values.hasura.image }}
        imagePullPolicy: "IfNotPresent" # required to avoid attempting to re-pull local images
        name: hasura
        env:
        - name: HASURA_GRAPHQL_DATABASE_URL
          {{ if .Values.postgres.externalDbUrl }}
          value: {{ .Values.postgres.externalDbUrl }}
          {{ else }}
          valueFrom:
            secretKeyRef:
              name: chaingraph-secrets
              key: postgresConnectionString
          {{ end }}
        - name: HASURA_GRAPHQL_METADATA_DATABASE_URL
          {{ if .Values.hasura.metadataDbUrl }}
          value: {{ .Values.hasura.metadataDbUrl }}
          {{ else if .Values.postgres.externalDbUrl }}
          value: {{ .Values.postgres.externalDbUrl }}
          {{ else }}
          valueFrom:
            secretKeyRef:
              name: chaingraph-secrets
              key: postgresConnectionString
          {{ end }}
        - name: HASURA_GRAPHQL_ADMIN_SECRET
          {{ if .Values.hasura.adminSecretKey }}
          value: {{ .Values.hasura.adminSecretKey }}
          {{ else }}
          valueFrom:
            secretKeyRef:
              name: chaingraph-secrets
              key: adminSecretKey
          {{ end }}
        - name: HASURA_GRAPHQL_ENABLE_CONSOLE
          value: {{ .Values.hasura.enableConsole | quote }}
        - name: HASURA_GRAPHQL_ADMIN_INTERNAL_ERRORS
          value: 'true'
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
